#accion {
    clear: both;
}

.accion_box {
    padding: 0px 0px 30px 0px;
    margin: 0 0 30px 0;
    border-bottom: 1px dashed #000;
}

.accion_box a {
    display: block;
    float: left;
    width: 225px;
    height: 250px;
}

.accion_img img {
    width: 200px;
    height: 210px;
    border-radius: 20px;
}

.right {
    width: 500px;
}