#anime {
    clear: both;
}

.anime_box {
    padding: 0px 0px 30px 0px;
    margin: 0 0 30px 0;
    border-bottom: 1px dashed #000;
}

.anime_box a {
    display: block;
    float: left;
    width: 225px;
    height: 250px;
}

.anime_img img {
    width: 200px;
    height: 210px;
    border-radius: 25px;
}

.right {
    width: 500px;
}
p {
    color: #e681e3;
}