#element.style {
    color: #3de2cb;
}
#content {
    color: #43b1e6;
    width: 550px;
    float: left
}
 
form{
    background-color: black;
}
   

textarea {
    color: #df3de2;
   
    background-color: #17161608;
}
element.style {
    margin: 10px;
    width: 463px;
    height: 168px;
}