#gallery {
    clear: both;
}

.gallery_box {
    padding: 0px 0px 30px 0px;
    margin: 0 0 30px 0;
    border-bottom: 1px dashed #000;
}

.gallery_box a {
    display: block;
    float: left;
    width: 225px;
    height: 250px;
}

.gallery_img img {
    width: 210px;
    height: 258px;
    border-radius: 30px
}

.right {
    width: 560px;
}
p{
    color: #36c1f7;
}
