#terror {
    clear: both;
}

.terror_box {
    padding: 0px 0px 30px 0px;
    margin: 0 0 30px 0;
    border-bottom: 1px dashed #000;
}

.terror_box a {
    display: block;
    float: left;
    width: 225px;
    height: 250px;
}

.terror_img img {
    width: 200px;
    height: 210px;
    border-radius: 15px;
}

.right {
    width: 500px;
}